<%= javascript_include_tag 'cable' %> 

<h2>Grupo: <%= @group.name %></h2>

<div id="messages" style="max-width: 300px">
    <% @messages.each do |message| %>
        <%= message.from %>
        <% if defined? message.from %>
            <div align="left">
                <p style="color:#2196F3"><%= message.from %></p>
                <%= message.content %>
            </div>
        <% else %>
            <div align="right">
                <%= message.content %>
            </div>
        <% end %>
    <% end %>
</div>

<div id="from" style="display:none"><%= @user %></div>
<div id="id_group" style="display:none"><%= @group.id %></div>

<input type="text" data-behavior="speak" name="message">
