<%= javascript_include_tag 'home' %>

<%= button_to('Logout', "/logout", method: "post") %>

<h2>Hello! <%= cookies.encrypted[:user] %></h2>
<div id="user" style="display: none;"><%= cookies.encrypted[:user] %></div>

<p>Join lobby:</p>

<%= button_to('Join', "/lobby/join", method: "post") %>

<p>Create a group</p>

<form action="/group" method="POST">
    <%= token_tag nil %>
    Group name: <input type="text" id="gname" name="gname">
    <button type="submit" id="submit">Submit</button>
</form>

<p>Select a group to join and start chatting</p>

<div class="groups">
    <% @groups.each do |group| %>
        <p><%= group.name %></p>
        <%= button_to('Join', "/group/join/" + (group.id).to_s, method: "post") %>
        <%= button_to('Delete', "/group/delete/" + (group.id).to_s, method: "delete") %>
    <% end %>
</div>

<p>Active users</p>
<div id="active_users"></div>
