<%= javascript_include_tag 'chat' %>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" style="color: #ffffff">
    <% if @channelType == 'GroupChannel' %>
        <p>Chat del grupo <%= @group.name %></p>
    <% elsif @channelType == 'LobbyChannel'%>
        <p>Lobby</p>
    <% else %>
        <p>Chat privado con <%= @message_to %></p>
    <% end %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= button_to('Salir', "/home", method: "get") %>
</nav>

<div id="messages" style="max-width: 300px">
    <%- @messages.each do |message| -%>
        <%- if message[:from] -%>
            <div align="left">
                <p style="color:#2196F3"><%= message.from -%></p>
                <%- if message.messageType == 'text' -%>
                    <%= message.content -%>
                <%- else -%>
                    <%= image_tag(message.content) %>
                <%- end -%>
            </div>
        <%- else -%>
            <div align="center">
                <%= message.content -%>
            </div>
        <%- end -%>
    <%- end -%>
</div>

<div id="from" style="display:none"><%= @user %></div>
<div id="channel_type" style="display:none"><%= @channelType %></div>
<% if defined? @group %>
    <div id="id_group" style="display:none"><%= @group.id %></div>
<% end %>
<% if defined? @message_to %>
    <div id="to" style="display:none"><%= @message_to %></div>
<% end %>

<input type="text" data-behavior="speak" name="message">

<%= form_tag '/upload/pictures', multipart: true do %>
    <input type="hidden" name="type" style="display:none" value="<%= @type %>">
    <% if defined? @group %>
        <input type="hidden" name="id_group" style="display:none" value="<%= @group.id %>">
    <% end %>
    <% if defined? @message_to %>
        <input type="hidden" name="message_to" style="display:none" value="<%= @message_to %>">
    <% end %>
    <input type="hidden" name="from" style="display:none" value="<%= @user %>">
    <label for="picture">Upload a picture</label> <%= file_field_tag "picture" %>
    <%= submit_tag %>
<% end %>
