<%= javascript_include_tag 'chat' %>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #ffffff">
        <% if @channelType == 'GroupChannel' %>
            <p>Chat del grupo <%= @group.name %></p>
        <% elsif @channelType == 'LobbyChannel'%>
            <p>Lobby</p>
        <% else %>
            <p>Chat privado con <%= @message_to %></p>
        <% end %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to('Salir', "/home", method: "get", class: "btn btn-danger") %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron" style="background-color: #ffffff;">
    <div id="messages" style="overflow-y: scroll; height: 300px">
      <%- @messages.each do |message| -%>
          <%- if message[:from] -%>
              <div align="left">
                <p style="color:#2196F3"><%= message.from -%></p>
                <%- if message.messageType == 'picture' -%>
                    <img src='<%= message.content -%>' height="80%" width="80%"/>
                <%- elsif message.messageType == 'audio' -%>
                    <audio controls><source src='<%= message.content -%>' type='audio/ogg'></audio>
                <%- else -%>
                    <%= message.content -%>
                <%- end -%>
              </div>
          <%- else -%>
              <div align="center">
                <%= message.content -%>
              </div>
          <%- end -%>
      <%- end -%>
    </div>

    <div id="from" style="display:none"><%= @user %></div>
    <div id="channel_type" style="display:none"><%= @channelType %></div>
    <div id="type" style="display:none"><%= @type %></div>
    <% if defined? @group %>
        <div id="id_group" style="display:none"><%= @group.id %></div>
    <% end %>
    <% if defined? @message_to %>
        <div id="to" style="display:none"><%= @message_to %></div>
    <% end %>

    <input type="text" class="form-control mb-3" data-behavior="speak" name="message" placeholder="Escriba el mensaje">

    <button class="record">Record</button>
    <button class="stop">Stop</button>
    <br/>
    <br/>
    <label for="picture">Upload a picture</label> <%= file_field_tag "picture" %><button class="upload">Upload
  </div>

</div>