<%= javascript_include_tag 'chat' %>

<%= button_to('Salir', "/home", method: "get") %>

<div id="user" style="display: none;"><%= cookies.encrypted[:user] %></div>

<% if @channelType == 'GroupChannel' %>
    <h2>Grupo: <%= @group.name %></h2>
<% elsif @channelType == 'LobbyChannel'%>
    <h2>Lobby</h2>
<% else %>
    <h2><%= @message_to %></h2>
<% end %>

<div id="messages" style="max-width: 300px">
    <%- @messages.each do |message| -%>
        <%- if message[:from] -%>
            <div align="left">
                <p style="color:#2196F3"><%= message.from -%></p>
                <%- if message.messageType == 'picture' -%>
                    <img src='<%= message.content -%>' height="80%" width="80%"/>
                <%- elsif message.messageType == 'audio' -%>
                    <audio controls><source src='<%= message.content -%>' type='audio/ogg'></audio>
                <%- else -%>
                    <%= message.content -%>
                <%- end -%>
            </div>
        <%- else -%>
            <div align="center">
                <%= message.content -%>
            </div>
        <%- end -%>
    <%- end -%>
</div>

<div id="from" style="display:none"><%= @user %></div>
<div id="channel_type" style="display:none"><%= @channelType %></div>
<div id="type" style="display:none"><%= @type %></div>
<% if defined? @group %>
    <div id="id_group" style="display:none"><%= @group.id %></div>
<% end %>
<% if defined? @message_to %>
    <div id="to" style="display:none"><%= @message_to %></div>
<% end %>

<input type="text" data-behavior="speak" name="message">

<button class="record">Record</button>
<button class="stop">Stop</button>
<div>
  <label for="picture">Upload a picture</label> <%= file_field_tag "picture" %><button class="upload_picture">Upload
</div>
<div>
  <label for="file">Upload an audio</label> <%= file_field_tag "file" %><button class="upload_audio">Upload
</div>
