<%= javascript_include_tag 'chat' %>

<%= button_to('Salir', "/home", method: "get") %>

<% if @channelType == 'GroupChannel' %>
    <h2>Grupo: <%= @group.name %></h2>
<% elsif @channelType == 'LobbyChannel'%>
    <h2>Lobby</h2>
<% else %>
    <h2><%= @message_to %></h2>
<% end %>

<div id="messages" style="max-width: 300px">
    <%- @messages.each do |message| -%>
        <%- if message[:from] -%>
            <div align="left">
                <p style="color:#2196F3"><%= message.from -%></p>
                <%- if message.messageType == 'text' -%>
                    <%= message.content -%>
                <%- else -%>
                    Ha compartido un archivo. <%= link_to "Descargar", message.content, :download => message.content.split('/').last -%>
                <%- end -%>
            </div>
        <%- else -%>
            <div align="center">
                <%= message.content -%>
            </div>
        <%- end -%>
    <%- end -%>
</div>

<div id="from" style="display:none"><%= @user %></div>
<div id="channel_type" style="display:none"><%= @channelType %></div>
<% if defined? @group %>
    <div id="id_group" style="display:none"><%= @group.id %></div>
<% end %>
<% if defined? @message_to %>
    <div id="to" style="display:none"><%= @message_to %></div>
<% end %>

<input type="text" data-behavior="speak" name="message">

<%= form_tag '/upload', multipart: true do %>
    <input type="hidden" name="type" style="display:none" value="<%= @type %>">
    <input type="hidden" name="from" style="display:none" value="<%= @user %>">
    <label for="file">File to Upload</label> <%= file_field_tag "file" %>
    <%= submit_tag %>
<% end %>
