<%= javascript_include_tag 'chat' %>

<style>
html, body, .container {
  height: 100%;
}
#messages {
  height: 90%;
}
.bubble {
  margin: 10px 0px;
  background-color: #eee;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 20px;
  min-width: 200px;
  max-width: 100%;
  margin-right: 50%;
  box-shadow: 4px 4px 10px lightgrey;
}
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
      <div class="navbar-header" style="display: inline-block">
      <a class="navbar-brand" style="color: #ffffff">
        <% if @channelType == 'GroupChannel' %>
            Chat del grupo <%= @group.name %>
        <% elsif @channelType == 'LobbyChannel'%>
            Lobby
        <% else %>
            Chat privado con <%= @message_to %>
        <% end %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to('Salir', "/home", method: "get", class: "btn btn-danger") %></li>
      </ul>
    </div>
  </div>
</nav>

<div id="user" style="display: none;"><%= cookies.encrypted[:user] %></div>


<div class="container" style="display:flex;flex-direction:row">
  <div class="jumbotron" style="background-color: #ffffff;">
    <div id="messages" style="overflow-y: auto;">
      <%- @messages.each do |message| -%>
          <%- if message[:from] -%>
              <div align="left" class="bubble">
                <p style="color:#2196F3"><%= message.from -%></p>
                <%- if message.messageType == 'picture' -%>
                    <img src='<%= message.content -%>' height="60%" width="60%"/>
                <%- elsif message.messageType == 'audio' -%>
                    <audio controls><source src='<%= message.content -%>' type='audio/ogg'></audio>
                <%- else -%>
                    <%= message.content -%>
                <%- end -%>
              </div>
          <%- else -%>
              <div align="center">
                <%= message.content -%>
              </div>
          <%- end -%>
      <%- end -%>
    </div>

    <div id="from" style="display:none"><%= @user %></div>
    <div id="channel_type" style="display:none"><%= @channelType %></div>
    <div id="type" style="display:none"><%= @type %></div>
    <% if defined? @group %>
        <div id="id_group" style="display:none"><%= @group.id %></div>
    <% end %>
    <% if defined? @message_to %>
        <div id="to" style="display:none"><%= @message_to %></div>
    <% end %>

    <div class="row">
      <div class="col-6">
        <input type="text" id="speak-input" class="form-control mb-3" data-behavior="speak" name="message" placeholder="Escriba el mensaje">
      </div>
      <div class="col-6">
        <button class="record btn btn-outline-primary">Grabar Audio</button>
        <button class="stop btn btn-outline-success">Enviar Audio</button>
      </div>
    </div>
    <div id="action-buttons">
      <div style="height: 55px;" id="picture-upload">
        <label for="picture">Seleccionar imagen</label> <%= file_field_tag "picture" %><button style="float: right" class="upload_picture btn btn-outline-success">Enviar</button>
      </div>
      <div id="audio-upload">
        <label for="file">Seleccionar audio</label> <%= file_field_tag "file" %><button style="float: right" class="upload_audio btn btn-outline-success">Enviar</button>
      </div>
    </div>
  </div>
</div>
